footer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-top: 2.5rem;
  border-top: 1px solid var(--input-stroke);
  margin-top: 3rem;
}
.terms-wrapper {
  margin-top: 0.75rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;

  strong {
    font-weight: 60;
    color: var(--brand-light);
    text-decoration: underline;
    text-decoration-thickness: 0.5px;
  }
}

.checkbox-wrapper {
  position: relative;

  & [type="checkbox"] {
    all: unset;
    position: absolute;
    inset: 0;
  }

  .checkbox-image {
    flex: 0 0 1.25rem;
    height: 1.25rem;
    background-image: url(../../assets/icons/check-unchecked.svg);
    background-size: cover;
    display: block;
    margin-bottom: 10px;
  }

  &:hover,
  &:focus {
    .checkbox-image {
      background-image: url(../../assets/icons/check-hover.svg);
      background-repeat: no-repeat;
      border: 1px solid var(--input-stroke);
      border-radius: 0.25rem;
    }
  }

  &:has(:checked) {
    .checkbox-image {
      background-image: url(../../assets/icons/check.svg);
      background-repeat: no-repeat;
      border: 1px solid var(--brand-light);
      border-radius: 0.25rem;
    }
  }
}

.generate-invitation {
  display: flex;
  flex-direction: row-reverse;
  & img {
    width: 1.25rem;
    height: 1.25rem;
  }
}

button {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 0.5rem;
  font: var(--text-body-md);
  color: var(--text-heading);
  background-color: var(--brand-dark);
  height: 3rem;
  width: 11rem;
}
