@import url(fields/index.css);

form {
  margin-top: 2.5rem
}

fieldset {
  border: none;
  display: grid;
  gap: 1rem;
}

fieldset + fieldset {
  margin-top: 3rem;
}

legend {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: .75rem
}